 html * {
  font-family: 'Roboto', sans-serif;
}
body {
  min-height: 20rem;

}
.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
}

.list-group {
  width: 100%;
}

.list-group-item {
  width: 100%;
}

.commentsection {
  /*display: none;*/
  width: 100%;
}

.hide {
  display: none;
}
